$color-black: #000000;
$color-white: #FFFFFF;

$primary-background-color: $color-white;
$secondary-background-color: $color-black;

$primary-text-color: $color-black;
$secondary-text-color: $color-white;